@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
@import url('https://www.w3schools.com/w3css/4/w3.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Iconshttps://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}

html,
body {
    overflow: hidden;
    height: 100vh;
}

.fade-in {
    animation-name: fadeInAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

.fade-in-late {
    animation-name: fadeInAnimation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
