@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    max-width: 500px;
    margin: 0 auto;
}
