p {
    text-align: center;
}

main {
    width: 90%;
    margin: auto;
}

#home-icon {
    width: 30%;
    margin: 0 auto;
}

#icon-wrap {
    margin-bottom: 20px;
}

.top-content {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 100%;
}
