#question {
    height: calc(100vh - 420px);
    max-height: 40vh;
}

#question > p {
    font-size: 1.5em;
    margin-top: 35px;
    margin-bottom: 35px;
}

#question-text {
    font-size: 3em;
    text-align: center;
    font-weight: bold;
    margin-bottom: 35px;
}
